body {
    margin: 0;
  
    font-family: BentonSans, Arial, Noto Sans, sans-serif;
    background-color: rgb(249, 249, 251);
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgb(255, 255, 255);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    right: 20px !important;
    top: 45px !important;
    font-size: 5px !important;
    color: black !important;
}


.swiper-button-next:after {
    font-size: 15px !important;
}

.swiper-button-prev:after {
    font-size: 15px !important;
}