.tabs__container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 0px 0px 0px 5px;
}

/* Add this media query to your existing CSS */
@media screen and (max-width: 768px) {
    .tabs__container {
        overflow-x: auto;
        /* Enable horizontal scrolling */
        -webkit-overflow-scrolling: touch;
        /* Smooth scrolling on touch devices */
        scrollbar-width: none;
        /* Hide scrollbar for Firefox */
        -ms-overflow-style: none;
        /* Hide scrollbar for IE and Edge */
    }

    .tabs__container::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar for Chrome, Safari, and Opera */
    }
}