.tabs__container {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 5px;
}
@media screen and (max-width: 768px) {
    .tabs__container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .tabs__container::-webkit-scrollbar {
        display: none;
    }
}