.main__container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    z-index: 100;

    .main__container--item {
        padding: 0px 10px 2px;
        cursor: pointer;
    }
    .main__container--active-text {
        font-weight: bold;
    }

    .main__container--active-blue {
        background-color: #0288c6;
    }

    .main__container-item-text {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
    }
}

@media (max-width: 1098px) {
    .main__container {
        display: none;
    }
}

