.main__container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;

    .main__container--item {
        padding: 0px 10px 2px;
        cursor: pointer;
    }

    .main__container--active-blue {
        background-color: #0288C6
    }

    p {
        font-size: 14px;
    }
}