.center__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.center__container--tabs{
    font-size: 17px;
    display: flex;
    justify-content: center;
    text-align: center;
}