.card__container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

@media screen and (min-width: 1100px) {
    .card__container {
        width: 800px;
    }
}

.must-watch {
    @media screen and (min-width: 1100px) {
        width: 280px;
        height: 300px;
    }
}