.match__container {
    padding: 15px 12px 30px 15px;
    display: flex;
    gap: 15px;

    .match__container--icon {
        position: absolute;
    }
}

.image {
    border-radius: 10px;
}

@media screen and (min-width: 1100px) {
    .match__container {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .match__container {
        flex-direction: column;
    }

    .image {
        width: 310px;
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    .match__container {
        flex-direction: column;
    }

    .image {
        width: 310px;
        height: 200px;
    }
}
