.center__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.header-text__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(237, 238, 240);

    .header-text--style {
        font-size: 12px;
        color: #03a9f4;
        padding: 0px 10px;
        cursor: pointer;
    }
}


.flex__container {
    display: flex;
    gap: 10px;
}

.flex-row {
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
    justify-content: flex-start;
}

.card-header {
    padding: 10px;
}

.card-header--small {
    padding-top: 15px;
    padding-left: 10px;
}

@media screen and (min-width: 1100px) {
    .flex__container{
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
     .flex__container {
         flex-direction: column;
     }
}

@media screen and (max-width: 767px) {
      .flex__container {
          flex-direction: column;
      }
}

