.image-carousel__container {
    position: relative;
    text-align: center;

    .image-carousel--icon {
        position: absolute;
        top: -60px;
        left: 25px;
    }
    .image-size{
        border-radius: 10px;
    }

    .image-carousel--text {
        font-weight: bold;
        text-align: left;
        font-size: 12px;
        padding-left: 20px;
        margin-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
    }
}

.swiper-pagination-bullet {
    background: #000;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

