.tab__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 12px;

    .tab__content--content {
        font-size: 11.5px;
        color: rgb(128, 127, 127);
    }

    .tab__content--label {
        font-weight: 800;
    }
}

@media screen and (max-width: 767px) {
    .tab__content {
        font-size: 10px !important;
    }

    .tab__content--content {
        font-size: 10px !important;
    }
}