
.model__content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
       .icon--button {
           position: absolute;
           right: 0;
           top: 8px;
           color: white;
           z-index: 1100;
       }
    
}