.model__content{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .model__content--wrapper{
        position: relative;
        width: 300px;
        height: 500px;
    }
}

.icon--button{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    z-index: 1100;
}