.story__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.story__container--wrapper {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2.5px solid rgb(3, 169, 244);
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.story-title {
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
}