$background_color: #03a9f4;

.navbar__container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: $background_color;
    padding: 12px;
}

.navbar__content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}