@import '../../../styles/main.scss';

.navbar__container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: $main_color;
    font-weight: 500;
}

.navbar__content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}