@import '../../../styles/main.scss';

.navbar__container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: $main_color;


    .navbar__content {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .navbar__container--image {
        margin-top: 12px;
        cursor: pointer;
    }
    .navbar__container--menu-icon{
        cursor: pointer;
    }

    .hamburger-menu {
        display: none;
    }
}

  .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
  }

@media (max-width: 1098px) {

    .navbar__container {
        justify-content: flex-start;
        align-items: 'flex-start';
        padding: 8px;
    }

    .hamburger-menu {
        display: block !important;
        margin-top: 10px;
        margin-left: 10px;
    }

    .navbar__container--image {
        margin-top: 5px !important;
    }
}

@media only screen and (max-width: 768px) {
    .sticky {
        position: static;
    }
}