.custom__button {
    border: 1px solid rgb(159, 157, 157);
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 3px;
    cursor: pointer;

    .button__inner--container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button__content {
        text-decoration: none;
        color: black;
        font-size: 8.5px;
    }
}