@import '../../../styles/main.scss';

.chips-container {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    align-items: center;
}

.chips-container-reset--grey {
    color: grey;
    opacity: 0.5;
    font-size: 12px;
    border-right: 1px solid rgb(158, 158, 158);
    padding-right: 10px;
    font-weight: 600;
}

.chips-container-reset--blue {
    color: $main_color;
    font-size: 12px;
    border-right: 1px solid rgb(158, 158, 158);
    padding-right: 10px;
    font-weight: 600;
    cursor: pointer;
}

.chip--sticky {
    position: sticky;
    top: 20;
    z-index: 90;
    background-color: white;
    border-radius: 10px;
    padding-left: 20px;
    width: 780px;
}

@media only screen and (max-width: 768px) {
    .chips-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
}