@import '../../../styles/main.scss';

.center__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.header-text__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(237, 238, 240);

    .header-text--style {
        font-size: 12px;
        color: $main_color;
        padding: 0px 10px;
        cursor: pointer;
    }
}

.flex__container {
    display: flex;
    gap: 10px;
}

.flex-row {
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
    justify-content: flex-start;
}

.card-header {
    padding: 10px;
}

.card-header--small {
    padding-top: 15px;
    padding-left: 10px;
}

@media screen and (min-width: 1100px) {
    .flex__container {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .flex__container {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .flex__container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1100px) {
    .card-on-desktop {
        display: none;
    }
}

.show-container {
    display: none;

    .scroll-container {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;

        .match-highlights-flex-container {
            display: flex;
            flex-direction: row;
        }
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .scroll-container>div>* {
        flex: 0 0 auto;
        margin-right: 10px;
    }

    .scroll-container>div> :last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1100px) {
    .show-container {
        display: block;
        background-color: black;
        color: white;
    }
}


.grid-item {
    display: flex;
    flex-direction: row;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 0.5px solid rgb(237, 238, 240);
    border-top: 1px solid rgb(237, 238, 240);
    gap: 10px;
}

.grid-item:nth-last-child(-n+2) {
    border-bottom: none;
}

.grid-item:nth-child(odd):not(:last-child) {
    border-right: 1px solid rgb(237, 238, 240);
}

.grid-item img {
    margin-right: 2%;
}

.grid-item p {
    flex: 1;
    font-weight: bold;
    font-size: 13px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .grid-item {
        width: 100%;
    }

    .grid-item:nth-child(odd) {
        border-right: none;
    }

    .scores__tab-container {
        display: none;
    }
}

/* Base styles */
.image-small {
    border-radius: 10px;
    height: 120px;
    width: 120px;
}

.image-large {
    border-radius: 10px;
    height: 260px;
    width: 440px;
}

/* Flex container for images */
.images-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {

    .image-small,
    .image-large {
        width: 100%;
        /* Make images full width on smaller screens */
        max-width: 120px;
        /* Limiting size for small images */
        height: auto;
        /* Maintain aspect ratio */
    }

    .image-large {
        max-width: 400px;
        /* Adjusting max-width for large images for consistency */
    }
}