.iconWrapper {
    height: 55px;
    width: 55px;
    background: linear-gradient(210deg, #05c7f6, #0569ff);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 170px;
    left: 10px;
    color: white;
    cursor: pointer;
}