.center__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 1.30rem;
    padding-right: 1.30rem;
}

.button__container--content {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 120px;
}