.dropdown__content {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px, 12px, 12px;
    margin-top: 3px;
    width: 250px;
    border-radius: 10px;
    color: black;

    .main__container--list{
          padding:15px;
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 10px;
    }
}

.dropdown__content::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
